{% extends 'base.html.twig' %}

{% block title %}
    {{ 'main.admin_page'|trans }}
{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
        <p class="h5">{{ 'admin_panel.user_list'|trans }}</p>
        <ul class="list-group list-group-flush">
            {% for user in users %}
                <li class="list-group-item"><a class="btn btn-outline-success" href="{{ path('user_page', {'id': user.id}) }}">{{ user.fullName|raw }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}



